<html>
<head>
<title>
FAQit Web App Chat
</title>
<link rel="stylesheet" href="/style/style.css" type="text/css">
</head>
<body>
<h1>FAQit Chat Client</h1>
<hr>
<p>
{{user}}'s Chat History With: {{student}}
</p>

<div class="chatArea">
    {% for message in messages %}
    
        {% if message.getSender().getaType() == "i" %}
            <div class="iMessage">
            <div class="messageMeta">{{message.getSender().getName()}}<hr></div>
            {{message.getContent()}}<hr>
            <div class="messageMeta">{{message.getTime()}}</div>
            </div>
        {% endif %}
        
        {% if message.getSender().getaType() == "s" %}
            <div class="sMessage">
            <div class="messageMeta">{{message.getSender().getName()}}<hr></div>
            {{message.getContent()}}<hr>
            <div class="messageMeta">{{message.getTime()}}</div>
            </div>
        {% endif %}
        
    {% endfor %}
</div>

<p>
<form action="chat" method="post">
<textarea name="message" placeholder="Ask New Question">
</textarea><br>
<input type="submit" value="Send"/>
</form>
</p>

<p>
Total number of messages(Between {{user}} {{student}}): {{size}}<br>
<hr>
</p>

</body>
</html>
