body{
	background: lightgrey;
	font-family: garamond;
}

h1, h2, h3, h4, h5, h6{
	text-align: center;
	font-family: helvetica;
}

p{
	padding: 0%;
	text-indent: 2ch;
}

hr {
	height: 1px;
	border: 0;
	border-top: 1px solid black;
}

.chatArea{
	margin-left: 27.5%;
	padding: .2%;
	width: 45%;
	border: 2px solid green;
	background-color: lightgreen;
	height: 65%;
	overflow: scroll;
	resize: both;
}

.sMessage{
	width: 33%;
	background-color: lightyellow;
	float: left;
	clear: right;
	border: 1px solid orange;
	padding: 1%;
	border-radius: 15px 0px 15px 15px;
	margin-top: 1%;
	margin-bottom: 1%;
}

.iMessage{
	width: 33%;
	background-color: lightblue;
	float: right;
	clear: left;
	border: 1px solid blue;
	padding: 1%;
	border-radius: 0px 15px 15px 15px;
	margin-top: 1%;
	margin-bottom: 1%;
}

.messageMeta{
	text-align: center;
	font-family: helvetica;
	font-size: 80%;
}

div.iMessage + div.iMessage{
	clear: right;
	margin-top: 1%;
	margin-bottom: 1%;
}

div.sMessage + div.sMessage{
	clear: right;
	margin-top: 1%;
	margin-bottom: 1%;
}

div.iMessage > hr {
	height: 1px;
	border: 0;
	border-top: 1px solid blue;
}

div.sMessage > hr {
	height: 1px;
	border: 0;
	border-top: 1px solid orange;
}

div.chatArea + p + form{
	width: 45%;
	margin-left: 27.5%;
}

div.chatArea + p + form > textarea{
	width: 100%;
	height: 10%;
}

div.sMessage::selection{
	color: lightyellow;
	background-color: black;
}

div.sMessage::-moz-selection{
	color: lightyellow;
	background-color: black;
}

div.sMessage > div.messageMeta::selection{
	color: lightyellow;
	background-color: black;
}

div.sMessage > div.messageMeta::-moz-selection{
	color: lightyellow;
	background-color: black;
}

div.iMessage::selection{
	color: lightblue;
	background-color: black;
}

div.iMessage::-moz-selection{
	color: lightblue;
	background-color: black;
}

div.iMessage > div.messageMeta::selection{
	color: lightblue;
	background-color: black;
}

div.iMessage > div.messageMeta::-moz-selection{
	color: lightblue;
	background-color: black;
}


h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection{
	color: lightgrey;
	background-color: black;
}

h1::-moz-selection, h2::-moz-selection, h3::-moz-selection, h4::-moz-selection, h5::-moz-selection, h6::-moz-selection{
	color: lightgrey;
	background-color: black;
}

p::selection{
	color: lightgrey;
	background-color: black;
}

body::selection{
	color: lightgrey;
	background-color: black;
}

p::-moz-selection{
	color: lightgrey;
	background-color: black;
}

body::-moz-selection{
	color: lightgrey;
	background-color: black;
}

textarea::selection, form::selection{
	color:white;
	background-color: black;
}

textarea::-moz-selection, form::-moz-selection{
	color:white;
	background-color: black;
}





/*h1, h2, h3, h4, h5, h6{
    font-family: helvetica;
    text-align: center;
}

head{
    color: white;
}

body{
  background-color: lightgrey;
}

.Student{
    background-color: yellow;
    width: 300px;
    border: 5px solid lightskyblue;
    padding: 5px;
    margin : 25px;
}

.Instructor{
    float: right;
    padding: 0px 100px 0px 0px;
    text-align: right;
    background-color: lightskyblue;
    width: 300px;
    border: 5px solid yellow;
    padding: 5px;
    margin : 25px;
}

.timestamp{
    background-color: red;
}
*/

